---
---

@import "{{ site.theme }}";

#banner {
  .fork {
    background-color: inherit;
    padding-top: 0;
    padding-bottom: 0;
    .button {
      background-color: #FFE788;
    }
  }
}

h2 {
  border-bottom: 1px solid #000;
  margin-top: 50px;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
